<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.casadalagoa.vorg" >

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".VORG_watchface"
            android:allowEmbedded="true" android:label="Volvo Ocean Race Face" >
            <meta-data android:name="com.google.android.clockwork.home.preview" android:resource="@drawable/watchface_preview"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.google.android.clockwork.home.category.HOME_BACKGROUND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
           <!-- <intent-filter>
                <action android:name="br.com.casadalagoa.vorg.BOATDATA"/>
            </intent-filter>
           -->
        </activity>
    </application>

</manifest>
